@media(max-width:900px) {
    .main-nav-list {
        position: fixed;
        top: 0;
        right: 0;
        flex-direction: column;
        height: 100vh;
        background-color: #5970c187;
        background-image: linear-gradient(-86deg, #33be6d7d 0%, #0c98b980 100%);
        /* box-shadow: -1px -1px 14px 0px #000000c4; */
        min-width: 150px;
        transform: translateX(100%);
        transition: transform 0.6s;
        z-index: 25;


    }

    .main-nav-list>li {
        margin-top: 20px;
    }

    .menu-btn {
        border: none;
        background-color: #33be6d;
        height: 66px;
        border-radius: 50%;
    }

    body.menu-open .main-nav-list {

        box-shadow: -1px -1px 14px 0px #000000c4;

        transform: translateX(0);

    }

    body.menu-open .main-screen {
        display: block;
    }
}


@media(min-width:900px) {
    /* .main-layout {
        max-width: var(--wide);
    } */

    .main-header-con {
        border: 1px solid var(--clr1);
        border-radius: 2.5em;
    }

    .main-header-con .main-nav-list li {
        padding-inline-end: 40px;
        cursor: pointer;
        /* padding-right: 10px; */
    }

    .main-header-con .main-nav-list:last-child {
        padding-inline-end: 200px;
    }

    .menu-btn {
        display: none;
    }

    .main-section {
        width: 100%;
    }

    .main-gallery-container {
        background-color: var(--clr2);
        border: 1px solid var(--clr2);
        border-radius: 8px;
        height: 560px;
        max-width: 1245px;
    }

    .main-gallery-container .top-main {
        flex-direction: row;
    }

    .top-main .key-words-container {
        position: absolute;
        top: 26px;
        left: 590px;
    }
    .key-words-container span{
        position: relative;
        top: -26px;
        left: 48px;
    }

    .search-form {
        margin-bottom: 0px;
    }

    [name=search-bar] {
        min-width: 27em;
        margin-inline-start: 25px;
    }

    .search-form .search-btn {
        left: 510px;
    }

    .gallery {

        grid-template-columns: repeat(5, 200px);
        gap: 20px;
        place-content: center;
        max-width: 100%;
    }

    .gallery>* {
        border-radius: 10px;
        width: 200px;
        height: 175px;
        min-width: 0px;
    }

    .gallery-container {
        height: 428px;
        overflow-y: scroll;
    }

    ::-webkit-scrollbar {
        width: 13px;
        height: 430px;
    }

    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
        border-radius: 7px;
    }

    ::-webkit-scrollbar-thumb {
        width: 15px;
        height: 57px;
        border-radius: 7px;
        background-color: #22252c;
        background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    }

    .meme-container {
        justify-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
        max-width: 1245px;
    }

    .meme-container .user-acts {
        /* flex-basis: 50%; */
        margin-inline-end: 95px;
    }

    .canvas-container #my-canvas {
        width: 476px;
        height: 546px;
    }

    .meme-container .user-acts {
        width: 525px;
        height: 545px
    }

    [name=text] {
        width: 445px;
    }

    .txt-acts {
        width: 445px;
    }

    .txt-acts .txt-impact {
        width: 238px;
        height: 55px;
    }

    .stickers-container {
        width: 445px;
        margin-bottom: 25px;
    }

    .bottom-btns {
        display: inline;
    }

    .bottom-btns .share {
        margin-bottom: 0px;
        margin-inline-end: 15px;
    }
}