* {
    box-sizing: border-box;
}

body{
    background-color: var(--clr3);
    color: #fefefe;
}

img{
    width: 100%;
    object-fit: cover;
    cursor: pointer;
}

a{
    text-decoration: none;
}

button{
    cursor: pointer;
}