.gallery-container {

    grid-template-columns: repeat(5, 200px);
    gap: 20px;
    place-content: center;
    max-width: 100%;
}

.gallery-container>* {
    border-radius: 10px;
    width: 200px;
    height: 175px;
    min-width: 0px;
}