.main-header-con {
    font-size: 1.3125rem;
    margin-bottom: 1.5rem;
    width: 100%;
    height: 75px;

    font-family: pop-mid;
    /* background-color: var(--clr1); */
    background-color: #5970c1;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
}

.main-nav-list a {
    color: #fefefe;
}

.main-nav-list a:hover {
    color: #ddd8d8;
}

.main-header-con .logo {
    padding-inline-start: 74px;
    text-transform: uppercase;

}