.main-section *:not(.fa) {
    font-family: pop-light;
    position: relative;
}

.main-gallery-container {
    background-color: var(--clr2);
    border: 1px solid var(--clr2);
    border-radius: 8px;
    height: 100vh;
    max-width: 630px;
    margin-left: auto;
    margin-right: auto;
}

.main-gallery-container .top-main {
    flex-direction: column;
    margin-bottom: 45px;

}

.top-main .key-words-container {
    display: grid;
    margin-bottom: 20px;
    width: 535px;
    height: 55px;
    border-radius: 30px;
    background-color: rgba(254, 254, 254, 0.596);
    place-content: center;
}



.key-words-container .funny{
    font-size: 2em;
}
.key-words-container .animals{
    font-size: 1.5em;
}
.key-words-container .smile{
    font-size: 3em;
}
.key-words-container .babies{
    font-size: 1.8em;
}

.search-form {
    font-size: 1.25rem;
    position: relative;
    margin-bottom: 20px;

}

[name=search-bar] {
    min-width: 18em;
    height: 3em;
    background-color: var(--clr3);
    color: #ffffff;
    border-radius: 2.5em;
    border: none;
    appearance: none;
    outline: none;
    font-size: 1em;
    /* margin-inline-start: 25px; */
    margin-top: 25px;
    padding-inline-start: 2.5em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.search-form .search-btn {
    position: absolute;
    top: 40px;
    left: 300px;
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    color: var(--clr1);
    font-size: 1.3em;

}


.fa.search-btn::before {
    content: '\f002';
}

 .more-btn {
    width: 92px;
    height: 36px;
    margin-inline-end: 13px;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 18px;
    background-color: #fefefe;
    color: #fefefe;
    border: none;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    font-size: 1.1em;
    cursor: pointer;
}

.gallery-container {
    height: 100vh;
}