.main-section *:not(.fa) {
    font-family: pop-light;
}

.main-section {
    background-color: var(--clr2);
    border: 1px solid var(--clr2);
    border-radius: 8px;
    height: 560px;

}

.search-form {
    font-size: 1.25rem;
    position: relative;
    margin-bottom: 45px;
}

[name=search-bar] {
    width: 27em;
    height: 3em;
    background-color: var(--clr3);
    border-radius: 2.5em;
    border: none;
    appearance: none;
    outline: none;
    font-size: 1em;
    margin-inline-start: 25px;
    margin-top: 25px;
    padding-inline-start: 2.5em;
    padding-top: 1em;
    padding-bottom: 1em;
}

.search-form .search-btn {
    position: absolute;
    top: 40px;
    left: 510px;
    height: 20px;
    width: 20px;
    padding: 0;
    margin: 0;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    color: var(--clr1);
    font-size: 1.3em;

}


.fa.search-btn::before {
    content: '\f002';
}

.key-words-container .more-btn {
    width: 92px;
    height: 36px;
    margin-inline-end: 13px;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 18px;
    background-color: #fefefe;
    color: #fefefe;
    border: none;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
    font-size: 1.1em;
}

.main-gallery-con {
    height: 428px;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 13px;
    height: 430px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 7px;
}

::-webkit-scrollbar-thumb {
    width: 15px;
    height: 57px;
    border-radius: 7px;
    background-color: #22252c;
    background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
}