.meme-container {
    justify-content: start;
    flex-direction: column-reverse;
    align-items: center;
    background-image: url(../../img/Forme_1.png);
    background-repeat: no-repeat;
    background-position: -116px -93px;
    height: 680px;
    max-width: 630px;
    margin-left: auto;
    margin-right: auto;
}

.meme-container .canvas-container {
    /* flex-basis: 50%; */
    margin-inline-start: 95px;
    margin-inline-end: 90px;
}

.canvas-container #my-canvas {
    border-radius: 15px;
    box-shadow: 0 0px 11px 2px var(--clr3);
    width: 400px;
    height: 450px;
    cursor: grab;
}

.meme-container .user-acts {
    /* flex-basis: 50%; */
    border-radius: 30px;
    width: 400px;
    height: 500px;
    align-items: center;
    background-color: #383b42a5;
}

[name=text] {
    margin-top: 25px;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
    margin-bottom: 20px;
    width: 380px;
    height: 55px;
    border-radius: 28px;
    background-color: #ebeef3;
    font-family: pop-mid;
    font-size: 1.5625rem;
    text-align: center;
    box-shadow: inset 0 -5px #bbc4d1;
    color: #3d3d3d;
    text-transform: uppercase;
}

.line-actions-btns * {
    width: 60px;
    height: 55px;
    border: none;
    border-radius: 10px;
    color: #ebeef3;
}

.line-actions-btns {
    margin-bottom: 25px;
}

.line-actions-btns .switch-line {

    width: 57px;
    height: 53px;
    box-shadow: 1px 5px 0 #048b97, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ebeef3;
    background-image: linear-gradient(-38deg, #66c4dc 0%, #40b1ce 50%, #0c98bb 100%);
}

.line-actions-btns .switch-line:hover {
    background-image: linear-gradient(-38deg, #294c55 0%, #163f4a 50%, #05313c 100%);
}

.switch-line>img {
    width: 19px;
    height: 28px;
    margin-top: 13px;
}

.line-actions-btns .add-line {
    width: 58px;
    height: 53px;
    box-shadow: 1px 5px 0 #015d33, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ebeef3;
    background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);

}

.line-actions-btns .add-line:hover {
    background-image: linear-gradient(-38deg, #21742d 0%, #144b1c 100%);
}

.add-line img {
    width: 27px;
    height: 27px;
}

.line-actions-btns .add-line {
    margin-inline-start: 35px;
    margin-inline-end: 35px;
}

.line-actions-btns .remove-line {
    width: 58px;
    height: 53px;
    box-shadow: 1px 5px 0 #8c0606, inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ebeef3;
    background-image: linear-gradient(-38deg, #cf1d37 0%, #cf1d37 1%, #f05036 100%);
}

.line-actions-btns .remove-line:hover {
    background-image: linear-gradient(-38deg, #6a0f1d 0%, #800e1f 1%, #792417 100%);
}

.remove-line img {
    margin-top: 11px;
    width: 28px;
    height: 32px;
}

.txt-acts {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    width: 390px;
    height: 150px;
    border: none;
    border-radius: 15px;
    background-color: #19a59f;
    place-items: center;
    margin-bottom: 25px;
}

.txt-acts>button:not(.txt-impact) {
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-color: #ffffff;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    width: 55px;
    height: 50px;
    grid-column: 1 span;
}

.txt-acts>button:hover {
    background-color: rgb(209, 201, 201);
}

.txt-acts .inc-font img,
.txt-acts .dec-font img {
    width: 35px;
    height: 25px;
}

.txt-acts .txt-start img,
.txt-acts .txt-center img,
.txt-acts .txt-end img {
    width: 35px;
    height: 30px;
}

.txt-acts .txt-impact {
    width: 210px;
    height: 45px;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ffffff;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 1.5625rem;
    color: #22252C;
    font-family: pop-semi-bold;
    grid-column: 3 span;
    text-transform: uppercase;
}

.font-change{
    width: 100%;
    height: 100%;
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    background-color: #ffffff;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    font-size: 1.5625rem;
    color: #22252C;
    font-family: pop-semi-bold;
    grid-column: 3 span;
    text-transform: uppercase;
}

.txt-acts .txt-s img {
    width: 20px;
    height: 35px;
}

.txt-acts .btn-txt-color {
    /* display: grid;
    place-items: center; */
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    background-color: #ffffff;
    background-color: #ffffff;
    border: none;
    border-radius: 10px;
    width: 55px;
    height: 50px;
    grid-column: 1 span;
    cursor: pointer;
}

.btn-txt-color img{
    margin-top: 5px;
}


.stickers-container {
    display: flex;
    justify-content: space-around;
    width: 380px;
    height: 90px;
    border-radius: 45px;
    background-color: #ffffff;
    margin-bottom: 15px;
}

.stickers-container img {
    margin-top: 10px;
    width: 65px;
    height: 65px;
    margin-bottom: 10px;
}

.bottom-btns {
    display: flex;
    flex-direction: column;
}

.bottom-btns * {
    border: none;
    font-family: pop-mid;
    color: #ffffff;
    font-size: 1.2em;
}

.bottom-btns .share {
    width: 215px;
    height: 50px;
    box-shadow: 1px 6px 0 #165c9c, inset 0 5px 0 #ffffff;
    border-radius: 15px;
    background-color: #1e7cd3;
    margin-bottom: 10px;
    /* margin-inline-end: 15px; */
    text-align: center;
}

.bottom-btns .share:hover {
    background-color: #14538e
}

.bottom-btns .share img {
    width: 25px;
    height: 25px;
    margin-inline-end: 25px;
    margin-top: 10px;
}

.bottom-btns .download {
    width: 213px;
    height: 51px;
    box-shadow: 1px 6px 0 #632687, inset 0 5px 0 #ffffff;
    border-radius: 15px;
    background-color: #8f44bb;
}

.bottom-btns .download:hover {
    background-color: #652f84;
}

.bottom-btns .download img {
    width: 25px;
    height: 25px;
    margin-inline-end: 25px;
    margin-top: 10px;
}