@font-face {
    font-family: fa;
    src: url(/fonts/webfonts/fa-solid-900.ttf)
}

@font-face{
    font-family: pop-mid;
    src:url(/fonts/poppins/Poppins-Medium.ttf)
}
@font-face{
    font-family: pop-light;
    src:url(/fonts/poppins/Poppins-Light.ttf)
}
@font-face{
    font-family: pop-extra-bold;
    src:url(/fonts/poppins/Poppins-ExtraBold.ttf)
}

@font-face{
    font-family: pop-semi-bold;
    src: url(/fonts/poppins/Poppins-SemiBold.ttf);
}